---
import "../styles/arrayPage.css"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
        <div id = "baseDiv">
            <div id = "headerDiv">
                <p id = "header">
                    Array
                </p>
            </div>

        </div>

		<script src="../scripts/arrayPage.js"/>
</BaseLayout>