---
import "../styles/global.css"
const arr = [42, 17, 63, 91, 34, 27];

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GSAP Practice</title>
	</head>
	<body>
		<p style = "margin-right:20px; color:white; font-weight:bold; font-family:Arial" id = "i_count">i = 0</p>
		<div class = "div1">
			{arr.map((item,index) => (
			<div class = {'box'+index} >{item}</div>
				))}
		</div>
	</body>
	<script src="../scripts/script.js"/>
</html>
