---
import BaseLayout from '../layouts/BaseLayout.astro';
import "../styles/main.css"
---
<BaseLayout>
	<div id = "total">
		<div id = "header-block">
			<img id = "tf-logo" src = "../../public/TraceFlow.svg">
			<p id = "header-text">
				Understand data structures and algorithms through interactive visualizations with beautiful animations and step-by-step execution
			</p>
		</div>

		<div id = 'explore-div'>
			<button id = "explore-algo">
				EXPLORE ALGORITHM
			</button>
		</div>

		<div id = "choose-div">
			<p id = "choose-text">
				CHOOSE A DATA STRUCTURE
			</p>
		</div>

		<div id = "data-layout">
			<div class = "slot">
				<img src="../../public/Group 111.png">
				<p class = "data-desc">
					Visualize array, sorting algorithms and searching techniquesfqewnjjewv
				</p>
				<a class = "explore-button">Explore Array</a>
			</div>
			<div class = "slot">
				<img src="../../public/Group 111.png">
				<p class = "data-desc">
					Visualize array, sorting algorithms and searching techniquesfqewnjjewv
				</p>
				<a class = "explore-button">Explore Array</a>
			</div>
			<div class = "slot">
				<img src="../../public/Group 111.png">
				<p class = "data-desc">
					Visualize array, sorting algorithms and searching techniquesfqewnjjewv
				</p>
				<a class = "explore-button">Explore Array</a>
			</div>
			<div class = "slot">
				<img src="../../public/Group 111.png">
				<p class = "data-desc">
					Visualize array, sorting algorithms and searching techniquesfqewnjjewv
				</p>
				<a class = "explore-button">Explore Array</a>
			</div>
			<div class = "slot">
				<img src="../../public/Group 111.png">
				<p class = "data-desc">
					Visualize array, sorting algorithms and searching techniquesfqewnjjewv
				</p>
				<a class = "explore-button">Explore Array</a>
			</div>
			<div class = "slot">
				<img src="../../public/Group 111.png">
				<p class = "data-desc">
					Visualize array, sorting algorithms and searching techniquesfqewnjjewv
				</p>
				<a class = "explore-button">Explore Array</a>
			</div>
		</div>
	</div>
</BaseLayout>