---
---

<div class = "navBar">
    <div class = "acm-holder">
        <img class = "acm" src="../../public/ACM logo.png">
    </div>
    <div id = "options">
        <div class = "option">
            <p id = "data-structures">Data Structures</p>
        </div>
        <div class = "option">
            <a id = "home" href = "../">Home</a>
        </div>
        <div class = "option">
            <p id = "about">About Us</p>
        </div>
    </div>
    <div id = "git">
        GitHub
    </div>
</div>

<style>

    .navBar {
        position:fixed;

        background-color:rgb(23, 23, 23);
        opacity:0.7;
        border-radius:10px;
        border:solid 1px rgb(42, 42, 42);

        display:flex;
        justify-content:space-between;
        align-items:center;
        width:96%;
        height:7%;
        z-index:1;
        flex:1;

        min-height:40px;

        padding:10px 20px;
        margin: 10px;
    }

    .acm-holder {
        display:flex;
        height:65%;
    }

    .acm {
        height:100%;
    }
    
    #options {
        display:flex;
        flex-direction:row;
    }

    .option {
        color:white;
        margin:25px;
        align-content:center;
    }

    #git {
        color:white;
        margin:10px;
    }

    * {
        font-family:Poppins;
        font-weight:bold;
    }

    a {
        color:white;
        text-decoration:none;
    }
</style>